@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
  --font-montserrat: var(--font-montserrat);
  --font-cormorant: var(--font-cormorant);
}

body {
  background-color: #ffffff;
  color: #171717;
}
